.page {
    margin: 1em auto;
    max-width: 40em;
}

.taskTitle {
    font-weight: bold;
}

.tasks {
    margin: 1em 0;
}

.completed-true {
    text-decoration: line-through;
    background: #efd;
}