.page {
    margin: 1em auto;
    max-width: 40em;
}

.taskTitle {
    font-weight: bold;
}

.tasks {
    margin: 1em 0;
}

.completed-true {
    background: #efd;
}

#addTaskText {
    width: 32em;;
}

#addedHours,
#addedMinutes{
    width: 3em;
    text-align: center;
}